{% extends "user_layout.html" %}

{% block content %}

    <div class="container border m-3 p-4 text-center">
        <h1>Change Your Password</h1>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-danger" role="alert">
            {{message}}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <form action="/user_password_change" method="post">
        
        <div class="row">
            <div class="col">
                <label for="">Old Password</label>
                <input type="password" class="form-control" name="oldPassword">
            </div>
        </div>
    
        <div class="row">
            <div class="col">
                <label for="">New Password</label>
                <input type="password" class="form-control" name="newPassword">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button class="btn btn-primary mt-3" type="submit">Change</button>
            </div>
        </div>
        </form>

        
    </div>

{% endblock %}